@using Fame.Web.Code.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fame and Partners</title>
    <link rel="stylesheet" href="~/dist/main.css" />
    <link rel="stylesheet" href="https://use.typekit.net/gdp4xpj.css" />
</head>
<body data-area="@ViewContext.AreaName()" data-controller="@ViewContext.ControllerName()" data-action="@ViewContext.ActionName()">
    @Html.Partial("_CookieConsent")
    @Html.Partial("_Notifications")
    @RenderBody()
    <script src="~/dist/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
